<div>
  <div *ngIf="currentContact.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Contact</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentContact.name"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Phone</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentContact.phone_number"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentContact.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentContact.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentContact.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteContact()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateContact()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentContact.id">
    <br />
    <p>Cannot access this Contact...</p>
  </div>
</div>
